{% set data = flex_entries.getData().toArray()|sort_by_key('project_name') %}
<div id="flex-directory" class="content-wrapper">
    <div class="text-center">
        <input class="form-input search" type="text" placeholder="Search by project name or description" />
        <button class="button button-primary sort asc" data-sort="name">
            Sort by Project Name
        </button>
    </div>

    <div class="project-list">
        {% for entry in data if entry.active %}

                <div class="project-item">
                    <div class="project-left">
                        <h4 class="name">{{ entry.project_name }}</h4>
                        <img src="user/data/project-files/{{ entry.project_image }}" alt="{{ entry.project_image }}">
                    </div>
                    <div class="project-right">
                        <p class="description">{{ entry.project_description }}</p>
                        {% if entry.project_donation_url %}
                            <p><a href="{{ entry.project_donation_url }}" target="_blank" class="button-donate">Donate</a></p>
                        {% endif %}
                    </div>
                </div>


        {% endfor %}
    </div>
</div>

<script>
    var options = {
        valueNames: [ 'name', 'description', 'entry-extra' ]
    };

    var flexList = new List('flex-directory', options);
</script>


